@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sora:wght@100..800&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*, *::after, *::before {
    box-sizing:border-box;  
}

:root {
	--color-text:#040316;
	--color-bg:#FFFCF8;
	/* --color-darkblue: #0F3A6D;
    --color-brightblue: #0F3A6D; */
	--color-lightblue: #2994D7;
	--color-mutedblue: #B3BEE1;
	--color-gray: #7D848D;

    /* #0F3A6D */
    --color-brightblue: #2E4EAE;
    --color-darkblue: #485EA1;


    
	--size-xxs: 0.5rem;
	--size-xs: 0.75rem;
	--size-sm: 0.875rem;
	--size-base: 1rem;
	--size-lg: 1.125rem;
	--size-xl: 1.25rem;
	--size-2xl: 1.5rem;
	--size-3xl: 1.875rem;
	--size-4xl: 2.25rem;
	--size-5xl: 3rem;
	--size-6xl: 3.75rem;
	--size-7xl: 4.5rem;
	--size-8xl: 6rem;
	--size-9xl: 8rem;
	--size-10xl: 10rem;
}

*{
	margin: 0;
}

html {
	scroll-behavior: smooth;
}


body{
	font-family: 'Urbanist', Times New Roman ;
	color:var(--color-text);
    background-color: var(--color-bg);
}

body h1{
    color: var(--color-darkblue);
    font-size: var(--size-4xl);
}

h3{
    color: var(--color-darkblue);
}

body h2{
    color: var(--color-darkblue);
}

body p{
    font-size: 4.375vw;
}

img,svg {
	display: block;
	max-width: 100%;
	height: auto;
}

button{
    background-color: var(--color-darkblue);
    color: var(--color-bg);
    width: fit-content;
    border: none;
    padding: var(--size-xs) var(--size-lg);
    border-radius: 5px;
}




.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/* padding-left: 0.5rem;
	padding-right: 0.5rem; */
	/* border: solid 1px red; */
}

/* header */
header {
	display: flex;
	align-items: center;
    padding: var(--size-4xl) var(--size-lg) 0 var(--size-lg);
    max-width: 100vw;
    
}

nav{
    display: flex;
    width: 100%;
	justify-content: flex-end;
}

nav ul{
	display: flex;
	align-items: center;
	list-style: none;
	gap: 2em;
    justify-content: center;
	background-color: var(--color-bg);

    align-items: center;
}


li{
    list-style: none;
    
}

nav a {
    text-decoration: none;
	color: var(--color-gray);
}

.navPhone{
	display: none;
	position: absolute;
}

.nav-search div{
	background-color: #485EA1;
	padding: 1em;
	border-radius: 50%;
}

li a{
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav img{
	width: 24px;
	height: auto;
}

.searchBar {
    width: 100%;
    margin-top: var(--size-base);
    border: none;
    border-radius: 8px;
    background-color: var(--color-bg);
    padding: var(--size-xxs) var(--size-sm);
    display: flex;
    box-shadow: 0px 4px 10px 0px rgba(72,102,193,0.4);;

    display: flex;
    align-items: center;
    gap: 0.5em;
}

.searchBar button{
    font-size: var(--size-xs);
    padding: var(--size-xxs) var(--size-base);
}

.search {
    width: 100%;
    border: none;
	background-color: var(--color-bg);
}

.searchBar form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.search::placeholder{
    color:#485EA1 ;
    opacity: 0.7;
    font-size: var(--size-xs);
    z-index: 1; 
}

.search:focus{
    outline: none;
}



@media (max-width: 425px) {
	/* .container{
		max-width: 320px;
	} */

	header{
		position: fixed;
		background-color: var(--color-bg);
		bottom: 0;
		padding-bottom: 1em;
		font-size: var(--size-xs);
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
		width: 100%;
		padding-top: 1.5em;
		z-index: 100;

		box-shadow:  0px 0px 17px 0px rgba(72,94,161,0.4);
	}

	nav{
		justify-content: center;
	}

	nav ul{
		display: flex;
		/* justify-content: space-between; */
        justify-content: space-around;
		padding: 0;
    	list-style-type: none;
		gap: 0;
		width: 100%;
	}
	
	nav div{
		width: 52px;
		height: 52px;

	}

	.navPhoneWeg{
		display: none;
		position: absolute;
	}

	.navPhone{
		position: static;
		display: block;
	}


	.navPhone img{
		display: block;
		width: 24px;
		height: 24px;
		margin-left: auto;
		margin-right: auto;
	}

}


/* homepage */
section{
    margin-bottom: var(--size-6xl);
}

#searchdiv{
	padding: var(--size-4xl) var(--size-lg);
}

div#searchdiv{
    padding: var(--size-4xl) var(--size-lg) 0 var(--size-lg);
}

.landing {
    padding: var(--size-4xl) var(--size-lg);
    display: flex;
    flex-direction: column;
    gap: var(--size-sm);
    /* background-color: #2994D7; */
}

.landing div{
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
}

.landing img {
    border-radius: 10px;
}

.polaroid{
    width: 30vw;
}

.polaroids h2{
    color: var(--color-bg);
}

.polaroids div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.polaroids span{
    font-weight: 100;
    font-style: italic;
}

.polaroids{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: var(--size-xxs);
    color: var(--color-bg);
    background-color: var(--color-brightblue);
    padding: var(--size-4xl) var(--size-lg);
}

.index nav ul li a:nth-of-type(1){
    color: var(--color-darkblue);
}

/* aanbevolen */
.aanbevolen{
    padding: var(--size-4xl) var(--size-lg);
}

.gridContainer {
    display: grid;
    /* grid-template-columns: repeat(8, 35px);
    grid-template-rows: 100px 100px 100px; */

    /* grid-template-columns: 3fr 2fr; */
    /* grid-auto-rows: auto; */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: var(--size-xxs);
    width: 100%;
}

[class^="cityCard"]{
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    height: 25vh;
}

[class^="cityCard"] img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-position: center center;
}

.cityCard1{
    grid-row: 1 / 2;
    grid-column: 1 / 8; 
}

.cityCard2{
    grid-row: 1/ 2;
    grid-column:  8 / 13; 
}

.cityCard3{
    grid-row: 2/3;
    grid-column: 1 / 6; 
}

.cityCard4{
    grid-row: 2/3;
    grid-column: 6 / 13; 
}

.cityCard5{
    height: 27vh;
    grid-row: 3/4;
    grid-column: 1 / 8; 
}

.cityCard6{
    height: 27vh;
    grid-row: 3/4;
    grid-column: 8 / 13; 
}

.gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0) 50%);
    border-radius: 5px;
}

.cityButton {
	color: var(--color-bg);
    background-color: var(--color-lightblue);
    border-radius: 50em;
    padding: var(--size-xxs);

	width: var(--size-3xl);
	height: var(--size-3xl);

	position:absolute;
	z-index: 10;
    border: none;
    right: 1em;
    bottom: 1em
}

.cityButton svg{
    width: var(--size-xs);
	height: var(--size-xs);
    display: block;

    margin-right: auto;
    margin-left: auto;
}

.cityInfo{
    position: absolute;
    z-index: 100;
    font-weight: 600;
    color: var(--color-bg);
    bottom: 1em;
    left: 1em;
    font-size: var(--size-xs);
}

.aanbevolen h2 {
    color: var(--color-darkblue);
    margin-bottom: var(--size-base);
}

.aanbevolen a{
    text-decoration: none;
    display: flex;
    justify-content: end;
    padding-top: var(--size-base);
    color: var(--color-darkblue);
    align-items: center;
    gap: var(--size-xxs);
}

.aanbevolen a p {
    font-size: var(--size-xs);
}

@media (min-width: 768px) {
    .aanbevolen{
        max-width: 768px;

        margin-right: auto;
        margin-left: auto;
    }
    
    .gridContainer {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, auto);
    }

    [class^="cityCard"] {
        height: 100%;
        max-height: 45vh;
    }

    .cityCard1 {
        grid-row: 1 / 3;
        grid-column: 1/6;
    }
    
    .cityCard2 {
        grid-row: 1/3;
        grid-column: 6/9;
    }
    
    .cityCard3 {
        max-height: 60vh;
        grid-row: 1/4;
        grid-column: 9/13;
    }
    
    .cityCard4 {
        grid-row: 3/5;
        grid-column: 1/4;
    }
    
    .cityCard5 {
        grid-row: 3/5;
        grid-column: 4/9;
    }
    
    .cityCard6 {
        grid-row: 4/5;
        grid-column: 9/13;
    }
}

/* about us */
.aboutUs{
    display: flex;
    flex-direction: column;
    gap: var(--size-base);
    background-color: var(--color-lightblue);
    padding: var(--size-4xl) var(--size-lg);
    color: var(--color-bg);
    text-align: center;
}

.aboutUs p{
    font-weight: 200;
    font-size: var(--size-xs);
}

.aboutUs h2{
    color: var(--color-bg);
}

.aboutUsDiv{
    display: flex;
    justify-content: space-between;
}


.aboutUsDiv div{ 
    display: flex;
    flex-direction: column;
	

    align-items: center;
    gap: var(--size-xxs);
    width: 32vw;
	
}

.aboutUsDiv p{
    font-size: var(--size-xs);
    font-weight: 600;

	align-self: center;
}

/* gids */
.gids{
    /* padding: var(--size-4xl) var(--size-lg); */
    padding: var(--size-4xl) 0 var(--size-4xl) var(--size-lg) ;
    display: flex;
    flex-direction: column;
    gap: var(--size-base);
}

/* .V2cityCard{
    border-radius: 5px;
    overflow: hidden;
    min-width: 50vw;

    display: flex;
    flex-direction: column;
    gap: 0.2em;

}

.V2cityCard img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center center;
    border-radius: 12px;
}

.buttonBackground{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}
.whiteBorder1{
    position: absolute;
    height: 25px;
    width: 30px;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 20%;

    bottom: 1.6em;
    left: 5.6em;
    box-shadow: 4px 6px 0px 4px var(--color-bg);
}

.whiteBorder2{
    position: absolute;
    height: 30px;
    width: 15px;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 50%;

    bottom: 6.2em;
    left: 9.2em;
    box-shadow: 9px 6px 0px 4px var(--color-bg);
} */

.cityButton2 {
	color: var(--color-bg);
    background-color: var(--color-lightblue);
    border-radius: 50%;
    /* outline: var(--size-xxs) solid var(--color-bg); */

    padding: var(--size-xxs);

	width: var(--size-3xl);
	height: var(--size-3xl);

    box-shadow: 0px 2px 10px 0px rgba(72,102,193,0.4);

	position:absolute;
	z-index: 10;
    border: none;
    right: 0.3em;
    bottom: 0.3em    
}

.cityButton2 svg{
    width: var(--size-xs);
	height: var(--size-xs);
    display: block;

    margin-right: auto;
    margin-left: auto;
}

.cardScroll{
    display: flex;
    flex-direction: row;
    gap: var(--size-sm);
    overflow: scroll;
    width: 100%;
}

.cardScroll::-webkit-scrollbar{
    color: transparent;
}


/* V3citycard */
.V3cityCard{
    display: flex;    
    flex-direction: column;
    
    min-width: 50vw;
    gap: 0.2em;
    border-radius: 5px;
}

.V3cityCard img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center center;
    border-radius: 12px;
}

.V3cityCardButton img{
    border-radius: 0;
}

.V3cityCardImage{
    position: relative;
    height: 40vh;
}

.V3cityCardButton{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}


.V3cityCardTitle{
    display: flex;
    flex-direction: column;
}

.V3cityCardTitle div{
    display: flex;
    align-items: center;
}

.V3cityCard p{
    font-size: var(--size-xs);
    font-weight: 400;
}

.V3cityCardTitle h3{
    font-weight: 800;
}

.V3cityCardTitle p:nth-child(2){
    font-weight:normal;
}

.heart{
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--size-xs);
    background-color: transparent;
}

.heart:hover{
    cursor: pointer;
}

input[type="checkbox"]{
    display: none;
}

input[type=checkbox] {
    display:none;
}

.heartFill{
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--size-xs);
    background-color: transparent;

    opacity: 0%;
}

.heartFilled{
    opacity: 100%;
}

/* quizResult */
.matchResult, .matchResult div, .otherMatches{
	display: flex;
	flex-direction: column;
	gap: var(--size-base);
}


.matchResult{
	padding: 0 var(--size-lg) var(--size-4xl) var(--size-lg);
}

.otherMatches{
	padding: var(--size-4xl) 0 var(--size-4xl) var(--size-lg);
	background-color: var(--color-brightblue);
}

.quizResult h1{
	font-size: var(--size-3xl);
}

.otherMatches h2, .otherMatches p, .otherMatches h3, .otherMatches svg{
	color: var(--color-bg);
	fill: var(--color-bg);
}

.otherMatches .V3cityCardButton img{
	filter: brightness(0) saturate(100%) invert(23%) sepia(24%) saturate(5277%) hue-rotate(213deg) brightness(97%) contrast(88%);

    /* filter: brightness(0) saturate(100%) invert(16%) sepia(82%) saturate(1234%) hue-rotate(191deg) brightness(95%) contrast(97%); */
}

::-webkit-scrollbar-corner {
    background-color: transparent ; 
}

/* .quizResult span{
	background: linear-gradient(
		to bottom,
		transparent 60%,
		#FFD736 40%		
	);
} */

.otherMatches h1{
	color: var(--color-bg);
}

.quizResult .cityButton2 svg{
	stroke: var(--color-brightblue);
}

.cityButton2 svg, .cityButton svg{
	stroke-width: 3;
}

.quizResult .cityButton2{
	background-color: var(--color-bg);
}

.quizResult .cityButton2:hover{
	background-color: var(--color-bg);
}


/* searchResult */
.searchResult{
	padding: 0 var(--size-lg) var(--size-4xl) var(--size-lg);
}

.searchResultImg{
    margin: var(--size-4xl) var(--size-lg) 0 var(--size-lg);
    margin-bottom: 0;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    padding: var(--size-5xl) var(--size-lg);
}

.gradientOverlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(2,0,36,0.6) 0%, rgba(2,0,36,0) 40%);
    z-index: 5;
}

.searchResultImg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.searchResultImg p, .searchResultImg h1{
    position: relative;
    z-index: 10;
    color: var(--color-bg);
}

.searchResultImg h1{
    font-size: 8vw;
}

.searchResultdiv{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
    grid-template-rows: auto;
    gap: var(--size-base);
}

.searchResultdiv .V3cityCard{
    min-width: 0;
    width: auto;
    max-width: none;
}

.searchBody div#searchdiv {
    padding: 0 var(--size-lg) var(--size-2xl) var(--size-lg);
}

.searchBody .V3cityCardImage {
    height: 25vh;
}

/* login styling */

.loginBody header{
    display: none;
}

.loginDiv{
    margin-bottom: 0;
}

.formInputs, .formInputs div, .loginform{
    display: flex;
    flex-direction: column;
    gap: var(--size-xxs);
}

.loginform{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    
    gap: var(--size-xl);
    padding-bottom: var(--size-4xl);
}

.loginform p{
    color: var(--color-gray);
}


.forminput{
    border: none;
    background-color: #F7F7F9;
    padding: var(--size-xs);
    border-radius: 8px;
}

.forminput:focus{
    outline: 1px solid var(--color-darkblue);
}

.formInputs{
    align-items: center;
    margin-top: auto;
    width: 100%;
    gap: var(--size-xl)
}

.formInputs div{
    width: 100%;
    padding: 0 var(--size-xl);
}

.formInputs div:nth-child(1){
    width: 80%;
    text-align: center;
}

.formInputs div label{
    font-weight: 600;
}

.loginButtonDiv{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: var(--size-base);
    
    padding: 0 var(--size-xl);
    width: 100%;
}

.loginButtonDiv button {
    width: 100%;
    font-weight: 600;
}

.loginButtonDiv p{
    text-align: center;
}

.loginSide{
    display:none;

    /* background-color: var(--color-darkblue); */
    width: 100%;
}

::file-selector-button, button input {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--color-bg);
    background-color: var(--color-darkblue);
    font-weight: 800;
    font-family: urbanist;
}

.backArrow{
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--size-xs);
}

/* dashboard css */
.dashboard, .laatstBezochtSection, .laatstBezochtDiv{
    display: flex;
    flex-direction: column;
    gap: var(--size-xxs);
    padding: var(--size-lg) var(--size-lg) 0 var(--size-lg);
    margin-bottom: 0;
}

.dashboardbody h1{
    text-align: center;
    font-size: 7.5vw;
    font-weight: 800;
    margin-top: var(--size-2xl);
    color: var(--color-text);
}

.profileImage{
    overflow: hidden;
    object-fit: cover;
    width: 20vw;
    height: 20vw;
}

.profileImage img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profileDiv{
    display: flex;
    gap: var(--size-base);
    align-items: center;
    margin-bottom: var(--size-xl);
}

.dashboardbody h2{
    color: var(--color-text);
    font-size: 6.25vw;
}
.dashboardbody h3{
    color: var(--color-text);
    font-size: 5vw;
}

.dashboardbody hr{
    border: 1px solid #CFCFCF;
}

.dashboardDiv{
    display: flex;
    gap: var(--size-base);
    margin: var(--size-xxs) 0;
    position: relative;
}

.dashboardsvg{
    display: flex;
    align-self: center;

    width: 8vw;
    height: 8vw;
}

.dashboardDiv p{
    color: var(--color-gray);
}

.arrow{
    position: absolute;
    right: 0;

    width: 6vw;
    height: 6vw;

    display: flex;
    align-self: center;
}

.laatstBezochtSection div{
    display: flex;
    align-items: center;
    gap: var(--size-xxs);
}

.laatstBezochtSection img{
    width: 6vw;
    height: auto;
}

.laatstBezochtButton button{
    background-color: var(--color-gray);
    font-weight: 600;
    padding: var(--size-xxs) var(--size-lg);
}

button.ActiveButton{
    background-color: var(--color-darkblue);
}

.laatstBezochtDiv{
    margin-bottom: 7em;
}

.laatstBezochtDiv h3{
    color: var(--color-darkblue);
}

.logoutButton{
    margin-top: var(--size-xl);
}

.logoutButton:hover{
    background-color: var(--color-darkblue);
}

.dashboardDiv a{
    text-decoration: none;
}

.accountInfo {
    display: flex;
    flex-direction: column;
    gap: var(--size-base);
    margin-top: var(--size-xxs);
}

.wachtwoordWijzigen{
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
}

.wachtwoordWijzigen div{
    margin-top: 0.4em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-weight: 600;
}

.dashboard input{
    width: fit-content;

    border: none;
    background-color: #F7F7F9;
    padding: var(--size-xs);
    border-radius: 8px;
    
    margin: var(--size-xxs) 0;
    padding: var(--size-xs) var(--size-lg);
}

.wachtwoordWijzigen div input {
    width: 100%;
    outline: 1px solid #CFCFCF;
}

input.deleteButton{
    width: fit-content;

    border: none;
    background-color: #F95B5B;
    /* padding: var(--size-xs); */
    border-radius: 8px;

    color: var(--color-bg);
    font-weight: 600;
}

input.inputbutton{
    background-color: var(--color-darkblue);
    color: var(--color-bg);
    font-weight: 600;
}

input.wachtwoordWijzigen:focus{
    outline: 1px solid var(--color-darkblue);
}

.accountname{
    margin: var(--size-xxs) 0;
    padding: var(--size-xs) var(--size-lg);
    outline: 1px solid #CFCFCF;
    width: 100%;
    border-radius: 8px;
}

.dashboard{
    margin-bottom: var(--size-7xl);
}

/* sorting */
button.sort.asc,
button.sort.desc {
  font-weight:bold;
}

button.sort.asc::after {
  content: "(az↓)";
  padding-left: .25em;
  font-weight:normal;
}

button.sort.desc::after {
  content: "(za↓)";
  padding-left: .25em;
  font-weight:normal;
} 

/* filter */
ul.food li:not(.food) {
    display:none;
}
  
  ul.cultural li:not(.cultural) {
    display:none;
}
  
  ul.historical li:not(.historical) {
    display:none;
}

.filtering{
    display: flex;
    gap: var(--size-base);
}

.sorteren{
    display: flex;
    align-items: center;
    gap: var(--size-base);
    flex-wrap: wrap;
}

#theList{
    width: 100%;
}

.searchResultdiv{
    margin: var(--size-2xl) 0 0 0;
    padding: 0;
}


/* MEDIA QUERIES .container{} */

/* xs */
@media (min-width: 475px) {
	.container{
		max-width: 475px;
	}

    .V3cityCard{
        min-width: 40vw;
        max-width: 40vw;
    }
}

/* sm */
@media (min-width: 640px) {
	.container{
		max-width: 640px;
	}

    .V3cityCard{
        min-width: 30vw;
        max-width: 30vw;
    }
}

/* md */
@media (min-width: 768px) {
	.container{
		max-width: 768px;
	}

    body p, .aboutUs p {
        font-size: 2.083vw;
    }

    .V3cityCard p {
        font-size: 1.823vw;
    }

    body h1, .searchResultImg h1{
        font-size: 6.25vw;
    }
    
    body h2{
        font-size: 4.688vw;
    }


    .V3cityCard{
        min-width: 25vw;
        max-width: 25vw;
    }

    .landing{
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        gap: var(--size-5xl);

    }
    
    .landing div{
        justify-content: space-between;
    }

    .landing, .aanbevolen, .aboutUs, .polaroids,div#searchdiv, .matchResult, .otherMatches, .searchResult, .dashboardbody section{
        padding: var(--size-7xl) var(--size-4xl);
    }

    .searchBody div#searchdiv {
        padding-bottom: 0;
        width: 80vw;
        position: absolute;
        transform: translate(12%, -90%);
        z-index: 20;
    }

    div#searchdiv{
        padding-top: var(--size-2xl);
        padding-bottom: 0;
    }

    .searchResultImg{
        margin: var(--size-3xl) var(--size-4xl) var(--size-2xl) var(--size-4xl);
        
        padding: var(--size-6xl) var(--size-4xl);
    }

    .gids{
        padding:var(--size-7xl) var(--size-xl) var(--size-7xl) var(--size-4xl);
    }

    header {
        padding: var(--size-4xl) var(--size-4xl) 0 var(--size-4xl);
    }

    .aboutUsDiv{
        margin-top: var(--size-3xl);
    }
    
    .polaroids div{
        max-width: 60vw;
    }

	.fotoResult{
		height: 60vh;
		object-fit: cover;
		border-radius: 16px;
	}
	
	.otherMatches{
		margin-bottom: 0;
	}


    .searchResultdiv{
        grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
        gap: var(--size-3xl);
    }

    /* login */
    .loginDiv{
        display: flex;
        flex-direction: row;
    }

    .loginform{
        margin: 0 auto;
        height: 90vh;
    }

    .loginSide{
        display: block;
        width: 45vw;
        margin: var(--size-base);
        border-radius: 8px;
        overflow: hidden;
        max-height: 88vh;
        
    }

    .loginSide img{
        height: 90vh;
        object-fit: cover;
    }

    .loginButtonDiv, .formInputs{
        margin-top: 0;
    }

    .loginBody header{
        display: block;
    }

    .loginBody h1{
        font-size: 4.2vw;
    }

    /* dashboard */
    .dashboardbody h1{
        display: none;
    }

    .profileImage{
        width: 15vw;
        height: 15vw;
    }
    
    .dashboardbody h3{
        font-size: 3vw;
    }

    .dashboardDiv div:nth-child(2){
        align-self: center;
    }

    .dashboardbody p{
        font-size: 1.823vw;
    }

    .dashboardsvg{
        width: 6vw;
        height: 6vw;
    }

    .arrow, .laatstBezochtSection img{
        width: 4vw;
        height: 4vw;
    }

    section.dashboard, section.laatstBezochtSection{
        padding-bottom: 0;
    }

    section.laatstBezochtDiv{
        padding-top: var(--size-base);
    }


    .searchBody .V3cityCardImage {
        height: 35vh;
    }

    .searchResultdiv .V3cityCard{
        max-width: 28vw;
    }

}

/* lg */
@media (min-width: 1024px) {
	.container{
		max-width: 1024px;
	}

    body p, .aboutUs p, .gids p, p.cityInfo, .aanbevolen a p, .quizResult, .otherMatches p, .searchResult p {
        font-size: 1.563vw;
    }

	h3{
		font-size: 1.953vw;
	}
	
	.landing img {
		width: 50vw;
	}

	.aanbevolen{
		max-width: none;
	}

	.landing, .aanbevolen, .polaroids, div#searchdiv, .matchResult, .otherMatches, .searchResult, .dashboardbody section {
        padding: var(--size-7xl) var(--size-7xl);
    }

    .searchBody div#searchdiv{
        padding-bottom: 0;
        transform: translate(12%, -100%);
    }

    div#searchdiv{
        padding-bottom: 0;
    }


    .searchResultImg{
        margin: var(--size-5xl) var(--size-7xl) var(--size-3xl) var(--size-7xl);
        padding: var(--size-8xl) var(--size-6xl);
    }

	.aboutUs{
		padding: var(--size-7xl) var(--size-10xl);
	}

    .gids{
        padding:var(--size-7xl) var(--size-5xl) var(--size-7xl) var(--size-7xl);
    }

    header {
        padding: var(--size-4xl) var(--size-7xl) 0 var(--size-7xl);
    }

	.V3cityCard{
        min-width: 20vw;
        max-width: 20vw;
    }

	.cityButton {
		scale: 1.5;
		bottom: 1.5em;
		right: 1.5em;
	}

	.V3cityCardButton{
		scale: 1.5;
		bottom: 0.8em;
		right: 0.8em;
	}

	.cityButton, .V3cityCardButton {
		animation-name: scaling-unhover-city-button;
		animation-duration: 0.6s;
		animation-fill-mode: forwards;
	}	

	.cityButton:hover, .V3cityCardButton:hover{
	    animation-name: scaling-hover-city-button;
	    animation-duration: 0.6s;
	    animation-fill-mode: forwards;
	}

	/* quizresult */
	div.matchResultdiv {
		display: flex;
		flex-direction: row;
		gap: var(--size-4xl);

		position: relative;
	}

	.matchResultdiv button{
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.matchResult h1{
		display: block;
		margin: 0 auto var(--size-4xl) auto;
	}

    /* searchresult */
    .searchResultdiv{
        grid-template-columns: repeat(auto-fit, minmax(18vw, 1fr));
        gap: var(--size-7xl) var(--size-3xl);
    }

    /* dashboard */
    .profileImage{
        width: 10vw;
        height: 10vw;
    }
    .dashboardbody h2{
        font-size: 4vw;
    }
    
    .dashboardbody h3{
        font-size: 2vw;
    }

    .dashboardDiv div:nth-child(2){
        align-self: center;
    }

    .dashboardsvg{
        width: 4vw;
        height: 4vw;
    }

    .dashboardbody p{
        font-size: 1.563vw;
    }

    .arrow, .laatstBezochtSection img{
        width: 3vw;
        height: 3vw;
    }

    section.dashboard, section.laatstBezochtSection{
        padding-bottom: 0;
    }

    section.laatstBezochtDiv{
        padding-top: var(--size-base);
    }

    .wachtwoordWijzigen div input, .accountInfo{
        width: 30vw;
    } 

    .searchBody .V3cityCardImage {
        height: 38vh;
    }

    .searchResultdiv .V3cityCard{
        max-width: 20vw;
    }

}

/* xl */
@media (min-width: 1280px) {
	.container{
		max-width: 1280px;
	}
    
    /* forminput */
    .loginform{
        margin: 0 auto;
        height: 92vh;
    }

    .searchBody .V3cityCardImage {
        height: 45vh;
    }
}

/* 2xl */
@media (min-width: 1440px) {
	.container{
		max-width: 1440px;
	}

	body p, .aboutUs p, .gids p, p.cityInfo, .aanbevolen a p, .quizResult, .otherMatches p, .searchResult p{
        font-size: 1.25vw;
    }

	body h2{
		font-size: 3.472vw;
	}

	.quizResult h1, .searchResultImg h1{
		font-size: 2.7vw;
	}
	

	h3{
		font-size: 1.7vw;
	}
	

	.landing div{
		width: 40vw;
	}

	.landing{
		gap: var(--size-10xl);
	}
	
	.landing img {
		width: 50vw;
	}

	.aanbevolen{
		max-width: none;
	}

	.aanbevolen, .polaroids, div#searchdiv, .gids, .matchResult, .otherMatches, .dashboardbody section{
        padding: var(--size-10xl) var(--size-10xl);
    }

    .landing{
        padding: var(--size-8xl) var(--size-10xl) var(--size-10xl) var(--size-10xl);
    }

    div#searchdiv{
        padding-bottom: 0;
        padding-top: var(--size-2xl);
    }

    .searchBody div#searchdiv{
        margin-top: var(--size-5xl);
        padding-bottom: 0;
    }


    .searchResult{
        padding: var(--size-5xl) var(--size-10xl) var(--size-10xl) var(--size-10xl);
    }

    .searchResultImg{
        margin: var(--size-7xl) var(--size-10xl) var(--size-5xl) var(--size-10xl);

        padding: var(--size-9xl) var(--size-8xl);
   }

   .searchBody div#searchdiv{
		padding: var(--size-5xl) var(--size-10xl) 0 var(--size-10xl);
        transform: translate(12%, -170%);
	}
    

	.aboutUs{
		padding: var(--size-10xl) 12rem;
		gap: var(--size-5xl);
	}

	div.aboutusdivp{
		padding: 0 10em 0 10em;
	}

	.aboutUsDiv img{
		scale: 1.5;
		padding: 1.5em;
	}


    header {
        padding: var(--size-4xl) var(--size-10xl) 0 var(--size-10xl);
    }


	.V3cityCard{
        min-width: 15vw;
        max-width: 15vw;
    }

	.cardScroll{
		gap: var(--size-3xl);
	}

	.cityButton {
		scale: 1.5;
		bottom: 2em;
		right: 2em;
	}

	.V3cityCardButton{
		scale: 1.5;
		bottom: 0.65em;
		right: 0.65em;
	}

	.polaroids{
		gap: var(--size-xl);
	}

	.polaroids div{
		max-width: 60vw;
		grid-gap: 2em;
	}

    
    .cityCard4 {
        grid-row: 3/5;
        grid-column: 1/4;
		max-height: 52vh;
    }
    
    .cityCard5 {
        grid-row: 3/5;
        grid-column: 4/9;
		max-height: 52vh;
    }

    /* searchresult */
    .searchResultdiv{   
        gap: var(--size-7xl) var(--size-3xl);
    }

    /* login */
    .loginDiv p{
        font-size: 1.111vw;
    }

    /* dashboard */
    .profileImage{
        width: 7vw;
        height: 7vw;
    }
    .dashboardbody h2{
        font-size: 3vw;
    }
    
    .dashboardbody h3{
        font-size: 1.5vw;
    }

    .dashboardDiv div:nth-child(2){
        align-self: center;
    }

    .dashboardsvg{
        width: 2.5vw;
        height: 2.5vw;
    }

    .arrow, .laatstBezochtSection img{
        width: 1.7vw;
        height: 1.7vw;
    }

    .dashboardbody p{
        font-size: 1.25vw;
    }

    section.dashboard, section.laatstBezochtSection{
        padding-bottom: 0;
        padding-top: var(--size-8xl);
    }

    section.laatstBezochtDiv{
        padding-top: var(--size-base);
    }
	
}

/* 3xl */
@media (min-width: 1536px) {
	.container{
		max-width: 1536px;
	}
}


/* animatie */
@keyframes scaling-hover-button-normal{
	0%{
		scale: 100%;
	}
	
	100%{
		scale: 110%;
	}
}

@keyframes scaling-hover-city-button{
	0%{
		scale: 150%;
	}
	
	100%{
		scale: 170%;
	}
}

@keyframes appear{
	0%{
		opacity: 0%;
		scale: 0.1;
	}
	
	100%{
		opacity: 1;
		scale: 1;
	}
}

button:hover{
	animation-name: scaling-hover-button-normal;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}

button:hover{
    background-color: var(--color-lightblue);
    cursor: pointer;
}

.heart:hover, .heartFill:hover{
	background-color: transparent;
}

.polaroids img, .aanbevolen img , [class^="cityCard"], .V3cityCard{
	animation-name: appear;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
	animation-timeline: view();
	animation-range: entry 0%;
}


@keyframes scaling-unhover-city-button {
    0% {
        scale: 170%;
    }
    
    100% {
        scale: 150%;
    }
}

/* details pagina */
.content {
    display: flex;
    align-items: center;
    /* Zorgt dat tekst en afbeelding netjes uitgelijnd zijn */
    justify-content: space-between;
    /* Houdt wat ruimte tussen de tekst en afbeelding */
    max-width: 1200px;
    /* Voorkomt dat het te breed wordt */
    margin: 0 auto;
    /* Centreert de content op de pagina */

    gap: 40px;
    /* Ruimte tussen de tekst en afbeelding */
}

/* Introsectie */
.intro {
    flex: 1;
    max-width: 50%;
}

.intro h1 {
   color: var(--color-darkblue);
    /* Juiste blauwe kleur */
    font-size: 2.2em;
}

.intro h2 {
    font-size: 1.2em;
    color: #555;
}

/* Afbeelding */
.image {
    flex: 1;
    max-width: 50%;
    text-align: right;
    /* Zorgt dat de afbeelding netjes rechts staat */

}

.image img {
    width: 100%;
    max-width: 500px;
    /* Zorgt dat de afbeelding niet te groot wordt */
    height: auto;
    border-radius: 0.521vw;
}

/* Categorieën */
.categories {
    display: flex;
    gap: 400px;
    /* Grote afstand tussen categorieën op desktop */
    justify-content: center;
    margin-top: 1.042vw;
}

.categories a {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    padding-bottom: 0.26vw;
    transition: 0.3s;
}

.categories a.active,
.categories a:hover {
    color:var(--color-darkblue);
    /* Blauwe kleur */
    border-bottom: 0.052vw

    solid var(--color-darkblue);
}

/* Filter opties */
.filters {
    display: flex;
    gap: 0.781vw;
    justify-content: center;
    margin-top: 20px;
}

.filters button {
    background-color: var(--color-darkblue);
    /* Blauwe kleur */
    color: white;
    border: none;
    padding: 0.521vw 0.781vw;
    border-radius: 0.26vw;
    cursor: pointer;
    font-size: 1em;
}

.filters button:hover {
    background-color: #3b4e8c;
    /* Iets donkerdere tint bij hover */
}

/* Favorieten knop */
.favorite {
    background-color: #485EA1;
    color: white;
    border: none;
    padding:  0.521vw 0.781vw;
    border-radius: 0.26vw;
    cursor: pointer;
    font-size: 1em;
    margin-top: 0.521vw;
}

.favorite:hover {
    background-color: #3b4e8c;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        text-align: center;
    }

    .intro,
    .image {
        max-width: 100%;
        text-align: center;
    }

    .categories {
        gap: 20px;
        /* Kleine afstand tussen categorieën op mobiel */
        align-items: center;
        /* Centreert de tekst */
    }
}






.option-button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    background-color: var(--color-darkblue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Geselecteerde knop krijgt een donkere kleur */
.option-button.selected {
    background-color: #485EA1;
}

/* Hover-effect alleen voor geselecteerde optie */
.option-button.selected:hover {
    background-color: #485EA1;
}

/* button {
    margin-top: 10px;
} */




/* quiz pagina */

#knopterug {
    display: flex;
    align-items: center;
    font-size: 1rem;
   margin-top: 2vw;
   margin-left: 2vw;
    color: #3b5998;
}

#terug-link {
    text-decoration: none;
    color: #3b5998;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

#quiz-titel {
    color: #040316;
    font-weight: bold;
}

.quiz h1 {

    margin-top: 1.042vw;
    font-size: var(--size-6xl);
    text-align: center;
    color: #485EA1;
}

.vraag-teller {
    font-size: 0.9rem; /* Kleinere tekst */
    color: gray; /* Grijs maken zoals in jouw afbeelding */
    margin-bottom: 5px;
}

.vraag {
    display: none;
    align-items: center;
    transition: opacity 0.3s ease-in-out;

}

.vraag.actief {
    display: block;
    align-items: center;
    opacity: 1;
}

#vragenlijst {
    background-color: white;
    width: 100%;
    max-width: 60vw;
    margin: auto;
    padding: 1.042vw;
    border-radius: 0.521vw;
    box-shadow: 0vw 0.208vw 0.417vw

    rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.quiz label {
     text-align: center;
    font-size: var(--size-xl);
    line-height: 2vw;
}

.vraag label {
    font-size: var(--size-2xl); /* Maak de vraag groter (1.5rem = 24px) */
   
   
   
}

.vraag input + label {
    font-size: var(--size-lg); 
}


.quiz button {
    padding: 0.521vw 0.781vw;
    font-size: 0.833vw;
    border: none;
    border-radius: 0.26vw;
    cursor: pointer;
}

.quiz button:first-of-type {
    background-color: white;
    color: #3b5998;
    border: 2px solid #3b5998;
}

.quiz button:last-of-type {
    background-color:var(--color-darkblue);
    color: white;
}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1.042vw auto;
    width: 50%; /* Zorgt dat het niet te lang is */
}

progress {
    width: 80%; /* Past de lengte aan */
    height: 0.781vw; /* Maakt de balk compacter */
    border-radius: 0.521vw;
    overflow: hidden;
    appearance: none; /* Verwijdert standaardstijl */
}

progress::-webkit-progress-bar {
    background-color: #B3BEE1; /* Achtergrond */
    border-radius: 0.521vw;
}

progress::-webkit-progress-value {
    background-color: #3b5998; /* Kleur van de progress */
    border-radius: 0.521vw;
}

progress::-moz-progress-bar {
    background-color: #3b5998;
}

/* 📌 Mobiele telefoons */
@media (max-width: 768px) {
    .quiz h1 {
        font-size: var(--size-4xl);
        margin-bottom: 7vw;
        margin-top: 4vw;
    }

    #vragenlijst {
        max-width: 90vw;
        padding: 4vw;
    }

    .quiz label {
        font-size: var(--size-lg);
        line-height: 8vw;
    }

    /* 🔹 Knoppen groter en beter klikbaar */
    .quiz button {
        font-size: 3vw;  /* Grotere tekst */
        padding: 1vw 3vw; /* Meer ruimte binnen de knop */
    }

    .progress-container {
        width: 90%;
    }

    progress {
        height: 2vw;
    }
}

.overzicht-container h2 {
    font-size: var(--size-3xl);

}


/* Algemene container */
.match-container {
    width: 80vw;
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Gebruikersprofiel bovenaan */
.user-info {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

#user-photo {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

#user-name {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

#user-country {
    font-size: 1rem;
    color: gray;
}

/* Matches sectie */
.matches {
    width: 100%;
    background: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.match-item {
    list-style: none;
    padding: 1rem;
    border-bottom: 0.1rem solid #ddd;
}

/* Optionele afbeelding */
.destination-img {
    width: 100%;
    max-width: 25rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
}